.editorsContainer {
  border-left: 3px solid #eee;
  padding: 1.5rem;
}

.editorsContainer:empty {
  border-left: 0;
}

.editorContainer {
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-left: 0;
}

.editorDragHandle {
  background-color: #eee;
  cursor: grab;
  width: 3px;
  margin-right: 1rem;
}

.editorContainer:hover .editorDragHandle {
  background-color: #BBB;
  width: 6px;
  margin-right: calc(1rem - 3px);
}

.editorInternal {
  width: 100%;
}

.editorContainer:last-of-type {
  margin-bottom: 0;
}

.editorContainerMeta {
  border-top: 1px solid #e1e1e1;
  color: #9e9e9e;
  margin-top: 1.5rem;
  padding-top: 1rem;
}

.editorContainerMetaActions {
  visibility: hidden;
}

.editorContainer:hover .editorContainerMetaActions {
  visibility: visible;
}
